.game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.player, .computer {
    text-align: center;
    margin: 0 20px;
}

.cards {
    margin-bottom: 20px;
}

.card {
    width: 100px;
    height: 150px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.hit-card{
    width: 100px;
    height: 150px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.button:hover {
    background-color: #45a049;
}

.button:active {
    background-color: #3e8e41;
}

